html, body, div, h1, h2, a, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(102,102,102);
}

html, body {
    margin-top: -19px;
    background-color: #F1F1F1;
}

.head {
    display: block;
    height: 85px;
    background-image: url(../../Content/imgs/top_menu_bg.png);
    background-color: #000;
    background-clip: border-box;
    font-size: 12px;
    text-align: center;
    line-height: 85px;
}

    .head h1 {
        width: 200px;
        margin-left: 200px;
        float: left;
    }

        .head h1 a {
            font-size: 25px;
            text-decoration: none;
            color: #FFF;
            margin-top: 15px;
            display: block;
        }

    .head ul {
        margin: 0 0 0 500px;
        list-style: none;
        height: 85px;
    }

    .head li {
        list-style: none;
        width: 100px;
        float: left;
        display: block;
        height: 85px;
        line-height: 60px;
        color: #FFF;
    }

        .head li a {
            font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
            cursor: pointer;
            color: #FFF;
            display: block;
            margin-top: 30px;
            font-size: 16px;
            text-decoration: none;
        }

.clearfix {
    display: block;
    height: 70px;
    display: block;
}

/******图片上Title*******/

.mateRight {
    margin: 25px 35px 0 35px;
    text-align: left;
    line-height: 22px;
    display: block;
    float: left;
    max-width: 500px;
}

    .mateRight h2 {
        background: url(../../Content/imgs/arrow.gif) no-repeat center left;
        padding-left: 12px;
        position: relative;
        left: -13px;
    }

        .mateRight h2 a {
            text-decoration: none;
            color: #333;
            font-family: 微软雅黑,Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

    .mateRight p {
        font-size: 14px;
        color: #666;
    }

.mateLeft {
    margin: 25px 15px 0 0;
    width: 50px;
    height: 45px;
    float: right;
}

.day {
    font-family: 微软雅黑;
    font-size: 36px;
    color: #333;
    font-weight: bold;
    line-height: 36px;
}

.month_Year {
    color: #999;
    font: bold 10px/10px Arial, Helvetica, sans-serif;
    padding-left: 3px;
}

/******图片上Title*******/


.mainContainer {
    float: left;
    width: 675px;
    border-right: 1px solid #EFEFEF;
}


/******热门分类*******/
.sidebar {
    width: 298px;
    float: left;
    overflow: hidden;
    margin: 5px 8px;
}

    .sidebar ul {
        list-style: none;
        margin: 5px 0;
    }

    .sidebar li {
        display: block;
        float: left;
        width: 50px;
        margin-left: 10px;
    }

        .sidebar li a {
            color: rgb(102,102,102);
            text-decoration: none;
            cursor: pointer;
            font-size: 12px;
        }

.top_model {
    border-radius: 5px;
    padding: 8px 15px;
    zoom: 1;
    line-height: 24px;
    background-color: #F9F9F9;
    overflow: hidden;
}
/******热门分类*******/


.wapper {
    z-index: 2;
    width: 990px;
    margin: 0 auto;
    text-align: left;
}

.pageContainer {
    width: 990px;
    background: #FFF;
    border: 1px solid #ECECEC;
    border-top: none;
    border-bottom: 2px solid #D7D7D7;
    margin: 20px auto auto auto;
}

.postContent {
    padding: 10px 20px;
    width: 638px;
    float: left;
    overflow: hidden;
}

    .postContent a img {
        margin: 12px auto;
        display: block;
        width: 100%;
    }

.postLine {
    width: 645px;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 0 15px;
    clear: both;
}

.navigation {
    padding: 20px 10px;
    width: 100%;
    padding-left: 30px;
}

.picture {
    width: 635px;
}

    .picture img {
        margin: 15px 0;
    }
