@model IEnumerable<Photo.Model.PageInfo>

@{
    ViewBag.Title = "首页";
}
<div>
    @if (Model != null)
    {
        foreach (var page in Model)
        {
            <div style=" width:675px; height:70px;">
                @page.description
            </div>
            <div style=" width:638px; height:659px">
                @if (page.fiels != null && page.fiels.Count() > 0)
                {
                    <a href="#">
                        <img alt="" src="~/imgs/@page.fiels.FirstOrDefault().path.Replace("\\", "//")" />
                    </a>
                }
            </div>
        }
    }
</div>
