<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <h1 style=" width: 200px; margin-left: 100px; float:left;">@Html.ActionLink("PIAOLIANGTUPIAN", "Index", "Home", new { @class = "top_title" })</h1>
        <ul>
            <li style=" width:100px; float:left; display:block;">
                <a>首页</a>
            </li>
            <li style=" width:100px; float:left; display:block;">
                <a>浏览最多</a>
            </li>
            <li style=" width:100px; float:left; display:block;">
                <a>我喜欢</a>
            </li>
        </ul>
    </div>
    <div class="pageContainer">
        <div class="mainContainer">
            @RenderBody()
        </div>
        <div class="sidebar">
            @Html.Action("TagMenu", "Tag")
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>
