@model IEnumerable<Photo.Web.Models.Tag>

<h2>热门分类</h2>
<ul>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(@item.Name, "Page", new { id = @item.ID }, new { target = "_blank" })
            </li>
        }
    }
</ul>