@model Photo.Web.Models.Page

@{
    ViewBag.Title = Model.Title;
}

<div class="clearfix">
    <div class="mateRight">
        <h2 style="margin:0;">
            <a href="#">@Model.Title</a>
        </h2>
        <p>
            Tag:
            @{
                string tags = string.Empty;
                if (Model.Tags != null && Model.Tags.Count() > 0)
                {
                    var tagArr = Model.Tags.ToArray();
                    for (var i = 0; i < tagArr.Length; i++)
                    {
                        if (i > 0)
                        {@:,}
                        <a href="/tag/pages/@tagArr[i].ID" target="_blank">@tagArr[i].Name</a>
                        }

                    }
                }
            }
        </p>
    </div>
    <div class="mateLeft">
        <div class="day">
            @Model.AddTime.ToString("dd")
        </div>
        <div class="month_Year">
            @Model.AddTime.Month&nbsp;@Model.AddTime.Year
        </div>
    </div>
</div>

@*Image*@
<div class="postContent">
    <div class="picture">
        @foreach (var img in Model.Imgs)
        {
            <img alt="" style="width:100%;" src="~/imgs/@img.Path.Replace(" \\", "//")" />
        }
    </div>
</div>
