@model  Photo.Web.Models.Tag

@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/simplePagination.css" />
    <script type="text/javascript" src="~/Scripts/jquery.simplePagination.js"></script>
}

@{
    ViewBag.Title = @Model.Name;
}

@if (Model != null && Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        string tags = string.Empty;
        if (page != null)
        {
            tags = string.Join("，", page.Tags.Select(o => o.Name).Distinct());
        }
        @*Title*@
        <div class="clearfix">
            <div class="mateRight">
                <h2 style="margin:0;">
                    <a href="/Page/@page.Id" target="_blank">@page.Title</a>
                </h2>
                <p>Tags：@tags</p>
            </div>
            <div class="mateLeft">
                <div class="day">
                    @DateTime.Now.ToString("dd")
                </div>
                <div class="month_Year">
                    @DateTime.Now.Month&nbsp;@DateTime.Now.Year
                </div>
            </div>
        </div>

        @*Image*@
        <div class="postContent">
            @if (page != null && page.DefaultImg != null)
            {
                <a href="/Page/@page.Id" target="_blank">
                    <img alt="" style="width:100%; height:100%;" src="~/imgs/@page.DefaultImg.Path.Replace(" \\", "//")" />
                </a>
            }
        </div>

        <div class="postLine"></div>
    }
    <div class="navigation">
        <div id="pagger" style=" text-align:right; padding-right:10px;"></div>
    </div>
}

@section foot{
    <script type="text/javascript">
        function initPagetion() {
            var pagerId = '#pagger';
            var prefix = '';
            if (location.href.indexOf('list') < 0) {
                prefix = 'list/';
            }
            var currentPage = 0;
            var index = location.href.lastIndexOf('/');
            if (index > 0) {
                var strCurrentPage = location.href.substr(index + 1, location.href.length - index);
                currentPage = parseInt(strCurrentPage);
                if (isNaN(currentPage)) {
                    currentPage = 0
                }
            }
            var options = {
                items: 200,
                itemsOnPage: 10,
                displayedPages: 5,
                edges: 3,
                currentPage: currentPage,
                hrefTextPrefix: prefix,
                prevText: '上一页',
                nextText: '下一页'
            };
            $(pagerId).pagination(options);
        }

        $(document).ready(function () {
            initPagetion();
        });
    </script>
}
